streamlit==0.83.0
pandas-datareader==0.9.0
yfinance==0.1.59
matplotlib==3.4.2
plotly==5.0.0
scipy==1.7.0
robin_stocks==2.0.4
holidays==0.9.12
pystan==2.19.1.1
fbprophet==0.5
numpy==1.21.0
cryptocoin==0.0.1
altair==4.1.0
plot-data==0.5.11
bs4==0.0.1
requests==2.25.1
cbpro
